@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

/* Tailwind v4 requires explicit font */
html {
  font-family: ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans",
    sans-serif;
    scroll-behavior: smooth;
}